<footer class="text-center ">
  <div class="bg-white text-[var(--brand-bluee)]">
    <div class="max-w-7xl mx-auto px-6 py-14 space-y-12">
      <div class="flex flex-col items-center space-y-3">
        <a href="#" class="flex justify-center items-center space-x-3">
          <img src="img/logo.png" alt="Utate Software Solutions" class="h-12 w-12 drop-shadow-md">
          <span class="text-2xl font-extrabold font-montserrat tracking-wide text-[var(--brand-bluee)]">
            Utate Software Solutions
          </span>
        </a>

      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-10 justify-center text-[var(--brand-bluee)]">
        <div>
          <h4 class="text-lg font-semibold mb-4 border-b-2 border-[var(--brand-orange)] inline-block pb-1">Links</h4>
          <ul class="space-y-2 text-sm text-gray-700">
            <li><a href="index.html#services" class="hover:text-[var(--brand-orange)] transition">Services</a></li>
            <li><a href="index.html#testimonials" class="hover:text-[var(--brand-orange)] transition">Testimonials</a></li>
            <li><a href="index.html#faq" class="hover:text-[var(--brand-orange)] transition">FAQ</a></li>
          </ul>
        </div>


        <div>
          <h4 class="text-lg font-semibold mb-4 border-b-2 border-[var(--brand-orange)] inline-block pb-1">Contact us
          </h4>
          <ul class="space-y-2 text-sm text-gray-700">
            <li>Email: <a href="mailto:info@utate.com"
                class="hover:text-[var(--brand-orange)] transition">utatesoftwaresolutions@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="flex items-center justify-center space-x-5 mt-6">
        <a href="#"
          class="p-3 rounded-full bg-[var(--brand-bluee)]/10 hover:bg-[var(--brand-bluee)] shadow-md transition">
          <img src="img/linkedin.png" alt="LinkedIn" class="w-6 h-6 object-contain">
        </a>
        <a href="#"
          class="p-3 rounded-full bg-[var(--brand-bluee)]/10 hover:bg-[var(--brand-bluee)] shadow-md transition">
          <img src="img/instagram.png" alt="Instagram" class="w-6 h-6 object-contain">
        </a>
        <a href="#"
          class="p-3 rounded-full bg-[var(--brand-bluee)]/10 hover:bg-[var(--brand-bluee)] shadow-md transition">
          <img src="img/facebook.png" alt="Facebook" class="w-6 h-6 object-contain">
        </a>
        <a href="#"
          class="p-3 rounded-full bg-[var(--brand-bluee)]/10 hover:bg-[var(--brand-bluee)] shadow-md transition">
          <img src="img/whatsapp.png" alt="WhatsApp" class="w-6 h-6 object-contain">
        </a>
      </div>
    </div>
</footer>
<div class="bg-[var(--brand-bluee)] border-t border-white/20">
  <p class="text-center text-sm md:text-base text-white py-5 tracking-wide">
    © Utate Software Solutions 2025. All rights reserved.
  </p>
</div>
