<section class="relative overflow-hidden">
  <div class="hidden lg:block absolute inset-0 -z-10">
    <div class="absolute top-3 left-20 w-6 h-6 rounded-full bg-[var(--brand-blue)]"></div>
    <div class="absolute top-16 right-20 w-8 h-8 rounded-full bg-[var(--brand-blue)]"></div>
    <div class="absolute bottom-20 left-20 w-10 h-10 rounded-full bg-[var(--brand-blue)]"></div>
    <div class="absolute bottom-5 right-32 w-6 h-6 rounded-full bg-[var(--brand-blue)]"></div>
  </div>

  <div class="max-w-7xl mx-auto px-6 py-16 md:py-24 grid md:grid-cols-2 gap-x-16 items-center">

    <div class="space-y-6 reveal">
      <div class="space-y-6 reveal">
        <h1 class="text-2xl md:text-5xl font-extrabold leading-tight" style="color: #000000;">
          Launch Your <span style="color: var(--brand-blue);">SaaS</span> Idea in Weeks, Not Months.
        </h1>
      </div>

      <p class="text-gray-600 max-w-xl">
        Our full-stack team takes your software idea and builds a stunning, launch-ready Minimum Viable Product (MVP)
        that users will love.
      </p>

      <div class="space-y-3 text-gray-700">
        <p>
          <span class="material-icons align-middle text-[var(--brand-bluee)] text-[10px] notranslate" translate="no"
            style="font-size: 16px;">build</span>
          <strong>Launch Faster:</strong> We handle the full development stack so you can focus 100% on your business
          and users.
        </p>
        <p>
          <span class="material-icons align-middle text-[var(--brand-bluee)] notranslate" translate="no">bolt</span>
          <strong>Validate Now:</strong> Quickly test your core concept and gather real user feedback with a fully
          functional MVP.
        </p>
        <p>
          <span class="material-icons align-middle text-[var(--brand-bluee)] notranslate"
            translate="no">attach_money</span>
          <strong>Save Capital:</strong> Build a high-quality MVP without the high cost of an in-house team.
        </p>
      </div>

      <div class="pt-4">
        <a href="#contact"
          class="inline-block bg-red-500 hover:bg-red-600 text-white px-6 py-3 rounded-lg font-semibold shadow transition">
          <span class="material-icons align-middle notranslate" translate="no">arrow_forward</span>
          Start My SaaS Project Today
        </a>
      </div>

    </div>
    <div class="flex justify-center md:justify-end">
      <div class="w-full max-w-md rounded-2xl shadow-xl overflow-hidden card-glass p-6 reveal"
        style="max-width: 650px;">
        <img src="img/Illustration.jpeg" alt="team" class="rounded-lg object-cover w-full h-auto">
      </div>

    </div>
  </div>
</section>
