<section id="technologies" class="py-20 bg-gray-50 relative overflow-hidden">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-3xl font-semibold text-[var(--brand-bluee)] mb-8">
      Technologies we use
    </h2>
    <p class="text-gray-600 max-w-2xl mx-auto mb-12">
      We use modern and robust tools to ensure performance, security, and scalability in each project.
    </p>
  </div>
  <div class="w-[75%] mx-auto overflow-hidden">
    <div id="tech-scroll" class="flex items-center gap-12 whitespace-nowrap">
      <img src="img/JavaScript.png" alt="JavaScript" class="h-16 object-contain">
      <img src="img/TypeScript.png" alt="TypeScript" class="h-16 object-contain">
      <img src="img/React.png" alt="React" class="h-16 object-contain">
      <img src="img/CSS3.png" alt="CSS3" class="h-16 object-contain">
      <img src="img/Tailwind CSS.png" alt="Tailwind CSS" class="h-16 object-contain">
      <img src="img/Laravel.png" alt="Laravel" class="h-16 object-contain">
      <img src="img/WooCommerce.png" alt="WooCommerce" class="h-16 object-contain">
      <img src="img/WordPress.png" alt="WordPress" class="h-16 object-contain">
      <img src="img/Bootstrap.png" alt="Bootstrap" class="h-16 object-contain">
      <img src="img/Next.js.png" alt="Next.js" class="h-16 object-contain">
      <img src="img/Nest.js.png" alt="Nest.js" class="h-16 object-contain">
      <img src="img/Astro.png" alt="Astro" class="h-16 object-contain">
      <img src="img/AWS.png" alt="AWS" class="h-16 object-contain">
    </div>
  </div>
</section>
